  /* Page styling */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden; /* Prevent horizontal scrollbar due to side images */
    font-family: 'Freeman';
    background-color: rgba(200, 223, 88, 0.803);
}

#side-image-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background-image: url("images/pickleball.png"); /* Set the left image */
  background-repeat: repeat; /* Repeat the image vertically */
  background-size: 100px; /* Adjust the size of the pickleball image */
  animation: movePickleballs 20s linear infinite;
}

#side-image-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  background-image: url("images/pickleball.png"); /* Set the right image */
  background-repeat: repeat; /* Repeat the image vertically */
  background-size: 100px; /* Adjust the size of the pickleball image */
  animation: movePickleballs 20s linear infinite;
}

@keyframes movePickleballs {
  0% {
      background-position: 0 0;
  }
  100% {
      background-position: 100% 100%; /* Adjust the end position for the background */
  }
}

h1 {
  font-size: 50px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-top: 30px;
  font-weight: bold;
  color:rgb(235, 73, 73)
}

p {
  color: #38b649;
  font-weight: 900;
}

#start-instructions {
  margin-left: 30px;
  font-weight: 900;
}

.container {
    background-image: url("images/court.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    width: 60%;
    height: 100%;
    max-width: 1200px;
    position: relative; /* Set position to relative */
}

#becca {
  height: 150px;
  width: 150px;
  position: absolute; /* Position the image absolutely */
  top: 15%; /* Align to the top */
  right: 30%; /* Align to the right */
}

#becca-serve {
  height: 30px;
  width: 30px;
  position: absolute; /* Position the image absolutely */
  top: 18%; /* Align to the top */
  right: 38%; /* Align to the right */
}

#julianna {
  height: 100px;
  width: 100px;
  position: absolute; /* Position the image absolutely */
  top: 65%; /* Align to the top */
  left: 30%; /* Align to the right */
}

#julianna-serve {
  height: 30px;
  width: 30px;
  position: absolute; /* Position the image absolutely */
  top: 70%; /* Align to the top */
  left: 35%; /* Align to the right */
}

#becca-partners {
  display: flex;
  position: absolute; /* Position the image absolutely */
  top: 33%; /* Align to the top */
  right: 18%; /* Align to the right */
  height: 75px;
  /* justify-content: space-between; */
}

#julianna-partners {
  display: flex;
  position: absolute; /* Position the image absolutely */
  top: 53%; /* Align to the top */
  left: 15%; /* Align to the right */
  height: 75px;
  /* justify-content: space-between; */
}

/* Image styling */
.light-up {
    /* height: 100px; */
    opacity: 0.4;
    max-width: 100px;
    margin: 5px 5px 5px;
}

.light-up:hover {
    opacity: 1;
}

/* Game num input styling */
.input-wrapper {
  margin-left: 30px;
  width: 100px;
}

.slider {
  display: flex;
  margin-top: 10px;
}
.slider input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: rgb(196, 196, 196); /* White background color for the slider bar */
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Style the slider thumb (circle) */
.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #38b649; /* Green background color for the slider thumb */
  cursor: pointer;
}

.slider input[type="range"]:hover {
  opacity: 1;
}

/* Predict Winner button styling */
.predict-button {
  margin: 0;
  position: absolute;
  top: 95%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#predict {
    font-family: inherit;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #38b649;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#predict:hover {
    background-color: #45a049;
}

/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  position: relative; /* Ensure children are positioned relative to the modal */
  background-color: rgb(38, 185, 218);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 7px;
  border: 1px solid #060606;
  width: 10%; 
  text-align: center;
  font-size: 24px; /* Large text */
  border-radius: 15px; /* Rounded edges */
}

.modal-content p {
  color:rgb(250, 250, 250)
}

.close-button {
  position: absolute; /* Position relative to .modal-content */
  top: 0px; /* Distance from the top of the modal */
  right: 7px; /* Distance from the right edge of the modal */
  color: #000000;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Add a CSS class for the button when it's clicked */
.button-clicked {
  transform: translateY(3px); /* Adjust the amount of indentation */
}

/* Adjustments for mobile responsiveness */
@media only screen and (max-width: 768px) {
  body {
      align-items: flex-start; /* Align items to the start of the flex container */
  }

  #side-image-left,
  #side-image-right {
      display: none; /* Hide side images on smaller screens */
  }

  h1 {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 30px;
    color:rgb(235, 73, 73)
  }

  .container {
      width: 100%; /* Adjust container width to full width */
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: azure;
  }

  .input-wrapper {
    margin-top: 40px;
    margin-left: 0px;
    text-align: center;
    align-items: center;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 200px;
  }

  #start-instructions {
    text-align: center;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
  } 
  
  #becca {
    top: 30%; /* Align to the top */
    right: 20%; /* Align to the right */
  }

  #julianna {
    top: 50%; /* Align to the top */
    left: 30%; /* Align to the right */
  }

  #becca-partners {
    top: 45%; /* Align to the top */
    right: 7%; /* Align to the right */
    height: 55px;
  }

  #julianna-partners {
    top: 47%; /* Align to the top */
    left: 5%; /* Align to the right */
    height: 55px;
  }

  #becca-serve {
    top: 35%; /* Align to the top */
    right: 35%; /* Align to the right */
  }

  #julianna-serve {
    top: 55%; /* Align to the top */
    left: 33%; /* Align to the right */
  }

  .predict-button {
    top: 70%;
    left: 50%;
  }

}