#comic {
  width: 200px;
  height: auto;
  margin: 50px;
}

#resume {
  margin: 25px;
  font-size: 15px;
  font-weight: 900;
  text-decoration: underline;
}

#linkedin {
  margin: 25px;
  font-weight: 900;
  font-size: 15px;
  text-decoration: underline;
}

.links-container {
  display: flex;
}

.links-container a {
  margin-right: 10px; /* Adjust spacing between links */
}

/* #buttons {
  margin-left: 50px;
} */

#welcome {
  margin-right: 40px;
}

html,
body {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Roboto Mono", monospace; 
  display : flex;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  /* background-color: rgb(236, 232, 105); */
}

h1 {
    margin-right: 20px;
    margin-top: 50px;
    font-size: 24px;
  }

p {
    color: rgb(25, 57, 97);
    margin-left: 40px;
}

a {
  margin: 25px;
  font-family: inherit;
  display:inline-block;
}

a:link { text-decoration: none;
  color: rgb(25, 57, 97); }


a:visited { text-decoration: none;
  color: rgb(25, 57, 97); }


a:hover { text-decoration: none;
  color: rgb(25, 57, 97); }


a:active { text-decoration: none;
  color: rgb(25, 57, 97); }

button {
    margin: 25px;
    font-family: inherit;
    display : flex;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
  }
  /* End of Page styling */

  /* Fill button styling */
.fill {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.fill::after {
  content: "";
  background-color: #dd83e7;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}
/* End of Fill Button  */

/* Slide button styling */
.slide {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 30px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: #dbe0df;
}

.slide i {
  opacity: 0;
  font-size: 13px;
  transition: 0.2s;
  position: absolute;
  right: 10px;
  top: 21px;
  transition: transform 1;
}

.slide div {
  transition: transform 0.8s;
}

.slide:hover div {
  transform: translateX(-6px);
}

.slide::after {
  content: "";
  background-color: #e9e263;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
}

.slide:hover i {
  opacity: 1;
  transform: translateX(-6px);
}
/* End of Slide Button  */


.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
}


.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
}



