<!DOCTYPE html>

<html lang="en">


    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">



        <title>Julianna Harwood</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap" rel="stylesheet" />
        <link rel="icon" type="image/png" rel="noopener" target="_blank" href="{{ url_for('static', filename='favicon.ico') }}">

    </head>


    <body>

        <h1>Julianna Harwood</h1>
        
        <div id="welcome">
        <p>Welcome! Thank you for checking out my work samples.</p>
        </div>
        
        <div id="buttons">
            
            <a id="code_button" type="button" class="fill" href="#code-modal">w/ code</a>

            <a id="no_code_button" type="button" class="fill" href="#no-code-modal">w/o code</a>

        </div>

        <div class="links-container">
            <a id="resume" href="{{ url_for('static', filename='content/Julianna Harwood Resume.pdf') }}" target="_blank">Resume</a>
            <a id="linkedin" href="https://www.linkedin.com/in/juliannaharwood/"target="_blank">LinkedIn</a>
        </div>

        <img id="comic" src="{{ url_for('static', filename='images/comic.png') }}">

        <form action="/authenticate" method="post">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <input type="submit" value="Submit">
        </form>
        
        <div id="code-modal" class="modal">
            <div class="modal__content">
                
                <button id="delta_method" type="button" class="slide">
                    <div>AB Testing with the Delta Method for Relative Difference</div>
                    <i class="icon-arrow-right"></i>
                </button>

                <button id="box_office" type="button" class="slide">
                    <div>Predicting Box Office Revenue</div>
                    <i class="icon-arrow-right"></i>
                </button>

                <button id="email_conversion" type="button" class="slide">
                    <div>Analysis of Marketing Email Conversions</div>
                    <i class="icon-arrow-right"></i>
                </button>

                <button id="cars" type="button" class="slide">
                    <div>Car Recognition and Classification w/ Tensorflow</div>
                    <i class="icon-arrow-right"></i>
                </button>
        
                <a href="#" class="modal__close">&times;</a>
            </div>
        </div>

        <div id="no-code-modal" class="modal">
            <div class="modal__content">
                
                <button id="cuped" type="button" class="slide">
                    <div>Using CUPED to Reduce Experiment Runtime</div>
                    <i class="icon-arrow-right"></i>
                </button>

                <button id="education" type="button" class="slide">
                    <div>How do we learn physics?</div>
                    <i class="icon-arrow-right"></i>
                </button>

                <button id="traffic" type="button" class="slide">
                    <div>Analysis of Traffic Stops by Race & Gender of Driver</div>
                    <i class="icon-arrow-right"></i>
                </button>
        
                <a href="#" class="modal__close">&times;</a>
            </div>
        </div>

        <!-- Adding our JavaScript in the script tag -->
        <script>
            document.getElementById("delta_method").onclick = function () {
                window.open("/static/content/code/delta_method.html", "_blank");
                // location.href = "content/code/delta_method.html";
            };

            document.getElementById("box_office").onclick = function () {
                window.open("/static/content/code/box_office_revenue_prediction.html", "_blank");
                // location.href = "content/code/box_office_revenue_prediction.html";
            };

            document.getElementById("email_conversion").onclick = function () {
                window.open("/static/content/code/marketing_email_analysis.html", "_blank");
                // location.href = "content/code/marketing_email_analysis.html";
            };

            document.getElementById("cars").onclick = function () {
                window.open("/static/content/code/cars.html", "_blank");
                // location.href = "content/code/cars.html";
            };

            document.getElementById("cuped").onclick = function () {
                window.open("https://medium.com/growth-book/understanding-how-cuped-in-growthbook-reduces-experiment-runtimes-at-the-los-angeles-times-79ba7c288d71", "_blank");
            };

            document.getElementById("education").onclick = function () {
                window.open("/static/content/no_code/Education_Research.png", "_blank");
                // location.href = "content/no_code/Education_Research.png";
            };

            document.getElementById("traffic").onclick = function () {
                window.open("/static/content/no_code/traffic_stops.png", "_blank");
                // location.href = "content/no_code/traffic_stops.png";
            };

        </script>


    </body>


</html>