<html lang="en">


    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">



        <title>Pickle Predictor</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='flask_style.css') }}">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="static/pickle_favicon.ico">

    </head>


    <body>

        <div id="side-image-left"></div>
        <div id="side-image-right"></div>

        <div class="container">
            <h1>Pickle Predictor</h1>
            <!-- <p id="sub-heading">Make selections below and see who will win!</p> -->
            <p id="start-instructions">Click on partners and who starts</p>

            <img id="becca" src="static/images/becca4.png"/>
            <img id="julianna" src="static/images/julianna.png"/>

            <img id="becca-serve" src="static/images/pickleball-small.png" style="display: none;">
            <img id="julianna-serve" src="static/images/pickleball-small.png" style="display: none;">

            <div id="becca-partners">
                <img src="static/images/tori.png" class="light-up"/>
                <img src="static/images/alex.png" class="light-up"/>
                <img src="static/images/taylor2.png" class="light-up"/>
            </div>
            
            <div id="julianna-partners">
                <img src="static/images/tori.png" class="light-up"/>
                <img src="static/images/alex.png" class="light-up"/>
                <img src="static/images/taylor2.png" class="light-up"/>
            </div>

            <div class="input-wrapper">
                <label for="game-session-num">Select what number game this is in the session</label>
                <div class="slider">
                    <input type="range" id="game-session-num" min="1" max="5" value="1" onchange="updateTextInput(this.value);">
                    <div id="game-session-num-input"></div>
                </div>
            </div>

            <button id="predict" onclick="sendValue()">Predict Winner</button> 
        
        </div>


        <script>
            
            // add serve pickleball on click
            document.getElementById("becca").addEventListener("click", function() {
                var beccaPopup = document.getElementById("becca-serve");
                var juliannaPopup = document.getElementById("julianna-serve");
                beccaPopup.style.display = (beccaPopup.style.display === "none") ? "block" : "none";
                juliannaPopup.style.display = "none";
            });

            document.getElementById("julianna").addEventListener("click", function() {
                var juliannaPopup = document.getElementById("julianna-serve");
                var beccaPopup = document.getElementById("becca-serve");
                juliannaPopup.style.display = (juliannaPopup.style.display === "none") ? "block" : "none";
                beccaPopup.style.display = "none";
            });


            // Image opacity change for becca partners
            var becca_images = document.querySelectorAll("#becca-partners .light-up");

            // Add click event listener to each image
            becca_images.forEach(function(image) {
                image.addEventListener("click", function() {
                    // Reset opacity for all images
                    becca_images.forEach(function(img) {
                         img.style.opacity = 0.5;
                    });
                
                    // Set opacity to 1 for the clicked image
                    image.style.opacity = 1;
                });
            });

            // Image opacity change for julianna partners
            var julianna_images = document.querySelectorAll("#julianna-partners .light-up");

            // Add click event listener to each image
            julianna_images.forEach(function(image) {
                image.addEventListener("click", function() {
                    // Reset opacity for all images
                    julianna_images.forEach(function(img) {
                         img.style.opacity = 0.5;
                    });
                
                    // Set opacity to 1 for the clicked image
                    image.style.opacity = 1;
                });
            });
            
            // slider output
            var slider = document.getElementById("game-session-num");
            var output = document.getElementById("game-session-num-input");
            output.innerHTML = slider.value; // Display the default slider value

            // Update the current slider value (each time you drag the slider handle)
            slider.oninput = function() {
            output.innerHTML = this.value;
            };

            function sendValue() {
                var dropdown = document.getElementById("game-length");
                var selectedValue = dropdown.options[dropdown.selectedIndex].value;
                fetch('/pickleball-predictor/show_data', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ value: selectedValue })
                })
                .then(response => {
                    if (response.ok) {
                        return response.text();
                    }
                    throw new Error('Network response was not ok.');
                })
                .then(data => {
                    var result = data;

                    document.getElementById("data").textContent = result;
                })
                .catch(error => {
                    console.error('There was a problem with your fetch operation:', error);
                });
            }
        </script>

    </body>


</html>