<html lang="en">


    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">



        <title>Pickle Predictor</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='flask_style.css') }}">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="static/pickleball-small.ico">

    </head>


    <body>

        <div id="side-image-left"></div>
        <div id="side-image-right"></div>

        <div class="container">
            <h1>Pickle Predictor</h1>
            <!-- <p id="sub-heading">Make selections below and see who will win!</p> -->
            <p id="start-instructions">Click on partners and who starts</p>

            <div class="input-wrapper">
                <label for="game-session-num">Select what number game this is in the session</label>
                <div class="slider">
                    <input type="range" id="game-session-num" min="1" max="5" value="1">
                    <div id="game-session-num-input"></div>
                </div>
            </div>

            <button id="predict" onclick="predict()">Predict Winner</button> 

            <img id="becca" src="static/images/becca4.png"/>
            <img id="julianna" src="static/images/julianna.png"/>

            <img id="becca-serve" src="static/images/pickleball-small.png" style="display: none;">
            <img id="julianna-serve" src="static/images/pickleball-small.png" style="display: none;">

            <div id="becca-partners">
                <img src="static/images/tori.png" id="tori" class="light-up"/>
                <img src="static/images/alex.png" id="alex" class="light-up"/>
                <img src="static/images/taylor2.png" id="taylor" class="light-up"/>
            </div>
            
            <div id="julianna-partners">
                <img src="static/images/tori.png" id="tori" class="light-up"/>
                <img src="static/images/alex.png" id="alex" class="light-up"/>
                <img src="static/images/taylor2.png" id="taylor" class="light-up"/>
            </div>

            <div id="response-placeholder"></div>
        
        </div>


        <script>
            
            // add serve pickleball on click
            document.getElementById("becca").addEventListener("click", function() {
                var beccaPopup = document.getElementById("becca-serve");
                var juliannaPopup = document.getElementById("julianna-serve");
                beccaPopup.style.display = (beccaPopup.style.display === "none") ? "block" : "none";
                juliannaPopup.style.display = "none";
            });

            document.getElementById("julianna").addEventListener("click", function() {
                var juliannaPopup = document.getElementById("julianna-serve");
                var beccaPopup = document.getElementById("becca-serve");
                juliannaPopup.style.display = (juliannaPopup.style.display === "none") ? "block" : "none";
                beccaPopup.style.display = "none";
            });


            // Image opacity change for becca partners
            var becca_images = document.querySelectorAll("#becca-partners .light-up");

            // Add click event listener to each image
            becca_images.forEach(function(image) {
                image.addEventListener("click", function() {
                    // Toggle opacity between .5 and 1 for the clicked image
                    var currentOpacity = parseFloat(image.style.opacity);
                    image.style.opacity = (currentOpacity === 1) ? 0.4 : 1;

                    // Get the ID of the clicked image
                    var clickedImageId = image.id;

                    // Set opacity to 0.5 for all images except the clicked one
                    becca_images.forEach(function(img) {
                        if (img.id !== clickedImageId) {
                            img.style.opacity = 0.4;
                        }
                    });
                });
            });

            // Image opacity change for julianna partners
            var julianna_images = document.querySelectorAll("#julianna-partners .light-up");

            // Add click event listener to each image
            julianna_images.forEach(function(image) {
                image.addEventListener("click", function() {
                    
                    // Toggle opacity between .5 and 1 for the clicked image
                    var currentOpacity = parseFloat(image.style.opacity);
                    image.style.opacity = (currentOpacity === 1) ? 0.4 : 1;

                    // Get the ID of the clicked image
                    var clickedImageId = image.id;

                    // Set opacity to 0.5 for all images except the clicked one
                    julianna_images.forEach(function(img) {
                        if (img.id !== clickedImageId) {
                            img.style.opacity = 0.4;
                        }
                    });

                });
            });
            
            // slider output
            var slider = document.getElementById("game-session-num");
            var output = document.getElementById("game-session-num-input");
            output.innerHTML = slider.value; // Display the default slider value

            // Update the current slider value (each time you drag the slider handle)
            slider.oninput = function() {
            output.innerHTML = this.value;
            };

            function predict() {
                // Get the ID of becca partner
                var beccaPartnerID = "";
                var beccaPartner = document.querySelector("#becca-partners .light-up[style='opacity: 1;']");
                if (beccaPartner) {
                    beccaPartnerID = beccaPartner.id;
                }

                // Get the ID of the lit up image
                var juliannaPartnerID = "";
                var juliannaPartner = document.querySelector("#julianna-partners .light-up[style='opacity: 1;']");
                if (juliannaPartner) {
                    juliannaPartnerID = juliannaPartner.id;
                }

                // Get the ID of the displayed popup
                var serve = "";
                var beccaServe = document.getElementById("becca-serve");
                var juliannaServe = document.getElementById("julianna-serve");
                if (beccaServe.style.display === "block") {
                    serve = "becca";
                } else if (juliannaServe.style.display === "block") {
                    serve = "julianna";
                }

                // Get the value of the slider
                var gameNum = document.getElementById("game-session-num").value;

                // Send the information to the Flask app
                fetch('/predict', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ 
                        becca_partner: beccaPartnerID, 
                        julianna_partner: juliannaPartnerID, 
                        serve: serve,
                        game_num: gameNum
                    })
                }).then(response => {
                    if (response.ok) {
                        return response.json(); // Parse response as JSON
                    } else {
                        throw new Error('Failed to send information.');
                    }
                }).then(data => {
                    // Display response message
                    var responsePlaceholder = document.getElementById("response-placeholder");
                    responsePlaceholder.textContent = data.message;
                }).catch(error => {
                    console.error("Error:", error);
                });
            }
        </script>

    </body>


</html>