<html lang="en">


    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Pickle Predictor</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" />
        <link href='https://fonts.googleapis.com/css?family=Freeman' rel='stylesheet'>
        <link rel="icon" type="image/x-icon" rel="noopener" target="_blank" href="static/pickleball-small.ico">

    </head>


    <body>

        <div id="side-image-left"></div>
        <div id="side-image-right"></div>

        <div id="container">
            <h1>Pickle Predictor</h1>
            <!-- <p id="sub-heading">Make selections below and see who will win!</p> -->


            <div id="inputs">

                <div class="input-column">
                    <p id="start-instructions">Pick teams by clicking on the players and make selections below to see who wins!</p>

                    <div class="input-wrapper">
                        <label for="game-session-num">Select what number game this is in the session</label>
                        <div class="slider">
                            <input type="range" id="game-session-num" min="1" max="5" value="1">
                            <div id="game-session-num-input"></div>
                        </div>
                    </div>
            
                    <div class="input-wrapper">
                        <label for="server-select">Select who serves first</label>
                        <select id="server-select">
                            <option value="team_1">Team 1</option>
                            <option value="team_2">Team 2</option>
                        </select>
                    </div>

                </div>
            
                <div class="teams-column">
                    <p id="team_1_label" class="team-label">Team 1</p>
                    <div id="team_1">
                        <img src="static/images/becca.png" id="becca_1"  class="player light-up team_1"/>
                        <img src="static/images/tori.png" id="tori_1" class="player light-up team_1"/>
                        <img src="static/images/alex.png" id="alex_1" class="player light-up team_1"/>
                        <img src="static/images/taylor.png" id="taylor_1" class="player light-up team_1"/>
                        <img src="static/images/julianna.png" id="julianna_1"  class="player light-up team_1"/>
                    </div>
                    
                    <p id="team_2_label" class="team-label">Team 2</p>
                    <div id="team_2">
                        <img src="static/images/becca.png" id="becca_2"  class="player light-up team_2"/>
                        <img src="static/images/tori.png" id="tori_2" class="player light-up team_2"/>
                        <img src="static/images/alex.png" id="alex_2" class="player light-up team_2"/>
                        <img src="static/images/taylor.png" id="taylor_2" class="player light-up team_2"/>
                        <img src="static/images/julianna.png" id="julianna_2"  class="player light-up team_2"/>
                    </div>
                </div>
            </div>            
            
            <div class="predict-button">
                <button id="predict" onclick="predict()">Predict Winner</button> 
            </div>


                        <div id="about">
                                <button id="about-button" onclick="openAboutPage()">about this app</button>
                                <div style="font-size: 0.7em; color: #555; margin-top: 4px;">
                                    cartoons from: <a href="https://www.dreamstime.com/chudtsankov_info">Chudtsankov</a>
                                </div>
                        </div>

            <div id="winnerPopUp" class="modal">
                <div class="modal-content">
                    <span class="close-button" onclick="closeWinner()">&times;</span>
                    <p id="winnerText"></p>
                </div>
            </div>
        
        </div>


        <script>
            // Partner selection

            // Image opacity change 
            var team_1_players = document.querySelectorAll(".team_1");
            var team_2_players = document.querySelectorAll(".team_2");

            // Add click event listener to each image
            team_1_players.forEach(function(image) {
                image.addEventListener("click", function() {
                    // Toggle opacity between .5 and 1 for the clicked image
                    var currentOpacity = parseFloat(image.style.opacity);
                    image.style.opacity = (currentOpacity === 1) ? 0.4 : 1;

                    // Get the ID of the clicked image
                    var clickedImageId = image.id;

                    // // Set opacity to 0.5 for all images except the clicked one
                    // julianna_partner_images.forEach(function(img) {
                    //     if (img.id !== clickedImageId) {
                    //         img.style.opacity = 0.4;
                    //     }
                    // });
                });
            });

            team_2_players.forEach(function(image) {
                image.addEventListener("click", function() {
                    // Toggle opacity between .5 and 1 for the clicked image
                    var currentOpacity = parseFloat(image.style.opacity);
                    image.style.opacity = (currentOpacity === 1) ? 0.4 : 1;

                    // Get the ID of the clicked image
                    var clickedImageId = image.id;

                    // // Set opacity to 0.5 for all images except the clicked one
                    // becca_partner_images.forEach(function(img) {
                    //     if (img.id !== clickedImageId) {
                    //         img.style.opacity = 0.4;
                    //     }
                    // });
                });
            });

            // Game Num Slider 
            var slider = document.getElementById("game-session-num");
            var output = document.getElementById("game-session-num-input");
            output.innerHTML = slider.value; // Display the default slider value

            // Update the current slider value (each time you drag the slider handle)
            slider.oninput = function() {
            output.innerHTML = this.value;
            };

            // Predict Button

            var predictButton = document.getElementById("predict");

            // Add a click event listener to the button
            predictButton.addEventListener("click", function() {
                
                // Add the CSS class to the button when it's clicked
                predictButton.classList.add("button-clicked");

                // Remove the CSS class after a short delay
                setTimeout(function() {
                    predictButton.classList.remove("button-clicked");
                }, 100); // Adjust the delay (in milliseconds) as needed
            
            });

            // About button
            function openAboutPage() {
                window.open('static/about.html', '_blank');
            }

            // Main prediction function
            function predict() {
                // Get the IDs of team 1 (lit up images)
                var team_1_ids = "";
                var team_1_selected = document.querySelectorAll("#team_1 .light-up[style='opacity: 1;']");
                if (team_1_selected) {
                    var team_1_ids = Array.from(team_1_selected).map(image => image.id);
                }

                // Get the IDs of team 2 (lit up images)
                var team_2_ids = "";
                var team_2_selected = document.querySelectorAll("#team_2 .light-up[style='opacity: 1;']");
                if (team_2_selected) {
                    var team_2_ids = Array.from(team_2_selected).map(image => image.id);
                }

                // Get first server
                var serve = document.getElementById("server-select").value;

                // Get game num
                var gameNum = document.getElementById("game-session-num").value;

                // Send the information to the Flask app
                fetch('/predict', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ 
                        team_1: team_1_ids, 
                        team_2: team_2_ids, 
                        serve: serve,
                        game_num: gameNum
                    })
                }).then(response => {
                    if (response.ok) {
                        return response.json(); // Parse response as JSON
                    } else {
                        throw new Error('Failed to send information.');
                    }
                }).then(data => {
                    showWinner(data.message); // Show the modal with the result

                }).catch(error => {
                    console.error("Error:", error);
                });
            }
            
            // Modal to show results
            function showWinner(text) {
                document.getElementById('winnerText').innerText = text; // Set the text
                document.getElementById('winnerPopUp').style.display = 'block'; // Show the modal
            }

            function closeWinner() {
                document.getElementById('winnerPopUp').style.display = 'none'; // Hide the modal
            }   


        </script>

    </body>


</html>